<div style="position:relative;">
    <f:if condition="{items}">
        <f:for each="{items}" as="item">
            <f:variable name="percentage" value="{item.visitors/sum*100}" />
            <div style="display: flex;
                     background: linear-gradient(to right, #93e0e3 {percentage}%, white {percentage}%);
                     padding: .5rem; margin: .5rem; border-bottom: 1px solid #aaa;">
                <div class="item" style="flex-grow: 4;">
                    {item.page}
                </div>
                <div class="item" style="flex-grow: 1; text-align: right;">
                    {item.visitors}
                </div>
            </div>
        </f:for>
    </f:if>
</div>
