<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Plausible" />
<f:section name="main">
    <f:if condition="{tabsConfig.defaultTabIndex}">
        <f:then>
            <f:variable name="defaultTabIndex" value="{tabsConfig.defaultTabIndex}" />
        </f:then>
        <f:else>
            <f:variable name="defaultTabIndex" value="1" />
        </f:else>
    </f:if>

    <div role="tabpanel" style="flex-basis: 100%;">
        <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
            <f:for each="{tabs}" as="tab" iteration="iteration">
                <li role="presentation" class="t3js-tabmenu-item">
                    <a href="#{id}-{iteration.cycle}" title="" aria-controls="{id}-{iteration.cycle}" role="tab" data-bs-toggle="tab" aria-selected="{f:if(condition: '{iteration.cycle} == {defaultTabIndex}', then: 'true', else: 'false')}" class="{f:if(condition: '{iteration.cycle} == {defaultTabIndex}', then: 'active')}">
                        {tab.label}
                    </a>
                </li>
            </f:for>
        </ul>
        <div class="tab-content" style="flex-basis: 100%;">
            <f:for each="{tabs}" as="tab" iteration="iteration">
                <div role="tabpanel" class="tab-pane {f:if(condition: '{iteration.cycle} == {defaultTabIndex}', then: 'active')}" id="{id}-{iteration.cycle}">
                    <div class="panel panel-tab">
                        <div class="panel-body">
                            <f:render partial="{tab.partial}" arguments="{tab.data}"/>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </div>
</f:section>

<f:section name="footer">

</f:section>
</html>
