<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Plausible" />
<f:section name="main">
    <f:if condition="{tabsConfig.defaultTabIndex}">
        <f:then>
            <f:variable name="defaultTabIndex" value="{tabsConfig.defaultTabIndex}" />
        </f:then>
        <f:else>
            <f:variable name="defaultTabIndex" value="1" />
        </f:else>
    </f:if>

    <div class="tabs" data-widget-type="{widgetType}">
        <div role="tabpanel">
            <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
                <f:for each="{tabs}" as="tab" iteration="iteration">
                    <li role="presentation" class="t3js-tabmenu-item">
                        <a href="#{id}-{iteration.cycle}" title="" aria-controls="{id}-{iteration.cycle}" role="tab" data-bs-toggle="tab" aria-selected="{f:if(condition: '{iteration.cycle} == {defaultTabIndex}', then: 'true', else: 'false')}" class="{f:if(condition: '{iteration.cycle} == {defaultTabIndex}', then: 'active')}">
                            <f:translate key="LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:{tab.label}" />
                        </a>
                    </li>
                </f:for>
            </ul>
            <div class="tab-content" style="flex-basis: 100%;">
                <f:for each="{tabs}" as="tab" iteration="iteration">
                    <div role="tabpanel" class="tab-pane {f:if(condition: '{iteration.cycle} == {defaultTabIndex}', then: 'active')}" id="{id}-{iteration.cycle}">
                        <div class="panel panel-tab">
                            <div class="panel-body">
                                <f:if condition="{tab.header -> f:count()}">
                                <div class="header">
                                    <f:for each="{tab.header}" as="header">
                                        <span class="headerText"><f:translate key="LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:{header}" /></span>
                                    </f:for>
                                </div>
                                </f:if>
                                <div class="panel-content" data-widget-tab-id="{tab.id}">
                                </div>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
        </div>
    </div>
</f:section>

<f:section name="footer">

</f:section>
</html>
