<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Plausible" />
<f:section name="main">
    <div class="chartOverview">
        <div class="chartOverviewItem">
            <div class="chartOverviewItemCaption">Unique visitors</div>
            <div data-widget-type="uniqueVisitors" class="chartOverviewItemValue"></div>
        </div>
        <div class="chartOverviewItem border-l">
            <div class="chartOverviewItemCaption">Total pageviews</div>
            <div data-widget-type="totalPageviews" class="chartOverviewItemValue"></div>
        </div>
        <div class="chartOverviewItem border-l">
            <div class="chartOverviewItemCaption">Visit duration</div>
            <div data-widget-type="visitDuration" class="chartOverviewItemValue"></div>
        </div>
        <div class="chartOverviewItem border-l">
            <div class="chartOverviewItemCaption">Current visitors</div>
            <div data-widget-type="currentVisitors" class="chartOverviewItemValue"></div>
        </div>
    </div>

    <div class="widget-chart" data-widget-type="visitorsChart">
        <canvas></canvas>
    </div>
</f:section>

<f:section name="footer">
    <f:render partial="Widget/Button" arguments="{button: button}" />
</f:section>
</html>
