services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Waldhacker\Plausibleio\:
    resource: '../Classes/*'

  Waldhacker\Plausibleio\Controller\VisitorsOverTimeWidgetController:
    public: true
  Waldhacker\Plausibleio\Controller\CountryMapDataWidgetController:
    public: true
  Waldhacker\Plausibleio\Controller\PageDataWidgetController:
    public: true
  Waldhacker\Plausibleio\Controller\DeviceDataWidgetController:
    public: true
  Waldhacker\Plausibleio\Controller\SourceDataWidgetController:
    public: true
  Waldhacker\Plausibleio\Controller\GoalDataWidgetController:
    public: true
  Waldhacker\Plausibleio\Services\ConfigurationService:
    public: true

  Waldhacker\Plausibleio\EventListener\AssetRenderer\BeforeJavaScriptsRenderingEventListener:
    tags:
      - name: event.listener
        identifier: 'plausible.addTrackingScript'
        event: TYPO3\CMS\Core\Page\Event\BeforeJavaScriptsRenderingEvent
        method: 'perform'

  waldhacker.plausibleio.widget.goal:
    class: 'Waldhacker\Plausibleio\Dashboard\Widget\GoalDataWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $configurationService: '@Waldhacker\Plausibleio\Services\ConfigurationService'
      $options:
        siteId: null
        timeFrame: null
    tags:
      - name: dashboard.widget
        identifier: 'plausible.goaldata'
        groupNames: 'plausibleio'
        title: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.goalData.label'
        description: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.goalData.description'
        iconIdentifier: 'content-widget-chart-bar'
        height: 'medium'
        width: 'medium'

  waldhacker.plausibleio.widget.visitorsovertime:
    class: 'Waldhacker\Plausibleio\Dashboard\Widget\VisitorsOverTimeWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $configurationService: '@Waldhacker\Plausibleio\Services\ConfigurationService'
      $options:
        siteId: null
        timeFrame: null
    tags:
      - name: dashboard.widget
        identifier: 'plausible.visitorsovertime'
        groupNames: 'plausibleio'
        title: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.visitorsOverTime.label'
        description: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.visitorsOverTime.description'
        iconIdentifier: 'content-widget-chart-bar'
        height: 'large'
        width: 'medium'

  waldhacker.plausibleio.widget.country:
    class: 'Waldhacker\Plausibleio\Dashboard\Widget\CountryMapDataWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $configurationService: '@Waldhacker\Plausibleio\Services\ConfigurationService'
      $options:
        siteId: null
        timeFrame: null
    tags:
      - name: dashboard.widget
        identifier: 'plausible.countrymapdata'
        groupNames: 'plausibleio'
        title: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.countryMapData.label'
        description: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.countryMapData.description'
        iconIdentifier: 'content-widget-chart-bar'
        height: 'medium'
        width: 'medium'

  waldhacker.plausibleio.widget.page:
    class: 'Waldhacker\Plausibleio\Dashboard\Widget\PageDataWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $configurationService: '@Waldhacker\Plausibleio\Services\ConfigurationService'
      $options:
        siteId: null
        timeFrame: null
    tags:
      - name: dashboard.widget
        identifier: 'plausible.pagedata'
        groupNames: 'plausibleio'
        title: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.pageData.label'
        description: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.pageData.description'
        iconIdentifier: 'content-widget-chart-bar'
        height: 'medium'
        width: 'medium'

  waldhacker.plausibleio.widget.source:
    class: 'Waldhacker\Plausibleio\Dashboard\Widget\SourceDataWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $configurationService: '@Waldhacker\Plausibleio\Services\ConfigurationService'
      $options:
        siteId: null
        timeFrame: null
    tags:
      - name: dashboard.widget
        identifier: 'plausible.sourcedata'
        groupNames: 'plausibleio'
        title: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.sourceData.label'
        description: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.sourceData.description'
        iconIdentifier: 'content-widget-chart-bar'
        height: 'medium'
        width: 'medium'


  waldhacker.plausibleio.widget.device:
    class: 'Waldhacker\Plausibleio\Dashboard\Widget\DeviceDataWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $configurationService: '@Waldhacker\Plausibleio\Services\ConfigurationService'
      $options:
        siteId: null
        timeFrame: null
    tags:
      - name: dashboard.widget
        identifier: 'plausible.devicedata'
        groupNames: 'plausibleio'
        title: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.deviceData.label'
        description: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.deviceData.description'
        iconIdentifier: 'content-widget-chart-bar'
        height: 'medium'
        width: 'medium'
