<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="widget-content-title">
    <div style="display: flex; justify-content: space-between;">
        <span><f:translate key="LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:{label}" /></span>

        <div class="input-group">
            <label for="plausible-sites"><f:translate key="LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.general.site_select.label" /></label>
            <select class="form-select" id="plausible-sites" data-widget-plausible-sites-select aria-label="{f:translate(key: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.general.site_select.aria')}">
                <f:for each="{siteSelectorConfig.items}" as="item">
                    <f:if condition="{siteSelectorConfig.selected}=={item}">
                        <f:then>
                            <option value="{item}" selected="selected">{item}</option>
                        </f:then>
                        <f:else>
                            <option value="{item}">{item}</option>
                        </f:else>
                    </f:if>
                </f:for>
            </select>
        </div>

        <div class="input-group">
            <label for="plausible-timeframe"><f:translate key="LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.general.timeframe_select.label" /></label>
            <select class="form-select" id="plausible-timeframe" data-widget-plausible-timeframe-select aria-label="{f:translate(key: 'LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.general.timeframe_select.aria')}">
                <f:for each="{timeSelectorConfig.items}" as="item">
                    <f:if condition="{timeSelectorConfig.selected}=={item.value}">
                        <f:then>
                            <option value="{item.value}" selected="selected">{item.label}</option>
                        </f:then>
                        <f:else>
                            <option value="{item.value}">{item.label}</option>
                        </f:else>
                    </f:if>
                </f:for>
            </select>
        </div>
    </div>
</div>

<f:if condition="{validConfiguration} == false">
    <f:then>
        <div class="alert alert-warning">
            <f:translate key="LLL:EXT:plausibleio/Resources/Private/Language/locallang.xlf:widget.general.invalidConfiguration" />
        </div>
    </f:then>
    <f:else>
        <div class="widget-content-main">
            <f:render section="main" optional="true" />
        </div>

        <f:variable name="footer" value="{f:render(section:'footer', optional: 'true')}" />
        <f:if condition="{footer -> f:spaceless()}">
            <div class="widget-content-footer">
                {footer -> f:format.raw()}
            </div>
        </f:if>
    </f:else>
</f:if>
</html>
